<a href="https://colab.research.google.com/github/raulbs7/Machine-Learning-Techniques-Project/blob/master/Dengue_Supervised_Project/1_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Preprocessing
This research have been done by Elena María Ruiz and Raúl Bernalte for the subject Machine Learning Techniques at UCLM.

---

The purpose of this research is to determine and predict Dengue spread phenomenon. To reach this objective, we are going to have a data source from the web page of Driven Data. The preprocessing of this data is going to be recycled from the project of Dengue unsupervised learning, that uses also the train data.

The train and test data has the following features:

> 1.  City and date indicators

* ``city`` – City abbreviations: sj for San Juan and iq for Iquitos
* ``week_start_date`` – Date given in yyyy-mm-dd format

> 2.  NOAA's GHCN daily climate data weather station measurements

* ``station_max_temp_c`` – Maximum temperature
* ``station_min_temp_c`` – Minimum temperature
* ``station_avg_temp_c`` – Average temperature
* ``station_precip_mm`` – Total precipitation
* ``station_diur_temp_rng_c`` – Diurnal temperature range

> 3.  PERSIANN satellite precipitation measurements (0.25x0.25 degree scale)

* ``precipitation_amt_mm`` – Total precipitation

> 4.  NOAA's NCEP Climate Forecast System Reanalysis measurements (0.5x0.5 degree scale)

* ``reanalysis_sat_precip_amt_mm`` – Total precipitation
* ``reanalysis_dew_point_temp_k`` – Mean dew point temperature
* ``reanalysis_air_temp_k`` – Mean air temperature
* ``reanalysis_relative_humidity_percent`` – Mean relative humidity
* ``reanalysis_specific_humidity_g_per_kg`` – Mean specific humidity
* ``reanalysis_precip_amt_kg_per_m2`` – Total precipitation
* ``reanalysis_max_air_temp_k`` – Maximum air temperature
* ``reanalysis_min_air_temp_k`` – Minimum air temperature
* ``reanalysis_avg_temp_k`` – Average air temperature
* ``reanalysis_tdtr_k`` – Diurnal temperature range

> 5.  Satellite vegetation - Normalized difference vegetation index (NDVI) - NOAA's CDR Normalized Difference Vegetation Index (0.5x0.5 degree scale) measurements

* ``ndvi_se`` – Pixel southeast of city centroid
* ``ndvi_sw`` – Pixel southwest of city centroid
* ``ndvi_ne`` – Pixel northeast of city centroid
* ``ndvi_nw`` – Pixel northwest of city centroid

The train labels represents the number of deaths per week by Dengue.

## 1.1  Initialization

First of all, it is going to be imported all the Python libraries normally used in data science. Also, it will be imported the datasets.

In [ ]:
# data load and manipulation
from google.colab import files
import io
# dataframes library
import pandas as pd

# basic operations
import numpy as np

#preprocessing
from sklearn import preprocessing

# outliers
from scipy import stats

This function is used por obtain a dataframe from a csv file, in which we can determine the columns we want.

In [ ]:
def upload_files (index_fields):
  uploaded = files.upload()
  for fn in uploaded.keys():
    print('User uploaded file "{name}" with length {length} bytes'.format(
        name=fn, length=len(uploaded[fn])))
    df = pd.read_csv(io.StringIO(uploaded[fn].decode('utf-8')), index_col = index_fields)
    return df

Importing the training and testing features.

In [60]:
train_features = upload_files([])
train_features.head()

Saving dengue_features_train.csv to dengue_features_train.csv
User uploaded file "dengue_features_train.csv" with length 287139 bytes

  city  year  ...  station_min_temp_c station_precip_mm
0   sj  1990  ...                20.0              16.0
1   sj  1990  ...                22.2               8.6
2   sj  1990  ...                22.8              41.4
3   sj  1990  ...                23.3               4.0
4   sj  1990  ...                23.9               5.8

[5 rows x 24 columns]

In [61]:
test = upload_files([])
test.head()

Saving dengue_features_test.csv to dengue_features_test.csv
User uploaded file "dengue_features_test.csv" with length 82465 bytes

  city  year  ...  station_min_temp_c station_precip_mm
0   sj  2008  ...                21.7              75.2
1   sj  2008  ...                22.2              34.3
2   sj  2008  ...                22.8               3.0
3   sj  2008  ...                24.4               0.3
4   sj  2008  ...                23.3              84.1

[5 rows x 24 columns]

Importing the labeled data.

In [62]:
train_labels = upload_files([])
train_labels.head()

Saving dengue_labels_train.csv to dengue_labels_train.csv
User uploaded file "dengue_labels_train.csv" with length 19582 bytes

  city  year  weekofyear  total_cases
0   sj  1990          18            4
1   sj  1990          19            5
2   sj  1990          20            4
3   sj  1990          21            3
4   sj  1990          22            6

Merging dataframe of features and labels for training.

In [63]:
train = pd.merge(train_features, train_labels, on=['city', 'year', 'weekofyear'])
train.head()

  city  year  weekofyear  ... station_min_temp_c  station_precip_mm  total_cases
0   sj  1990          18  ...               20.0               16.0            4
1   sj  1990          19  ...               22.2                8.6            5
2   sj  1990          20  ...               22.8               41.4            4
3   sj  1990          21  ...               23.3                4.0            3
4   sj  1990          22  ...               23.9                5.8            6

[5 rows x 25 columns]

## 1.2 Removal of redundant and unnecesary features

There is one column, ``week_start_date``, that haven't much importance and it is very similar to another column called ``weekofyear``. Also this column has date format, which is a form difficult to treat. Also, it is redundant and we don't need it for our model. But, before eliminating this date, it could be useful to extract month of this data.

In [64]:
def retrieve_month(week_start_date):
    return int(week_start_date[5:7])

In [65]:
train['month'] = train['week_start_date'].apply(retrieve_month)
test['month'] = test['week_start_date'].apply(retrieve_month)

In [66]:
train = train.drop(['week_start_date'], axis=1)
test = test.drop(['week_start_date'], axis=1)

## 1.3 Variable categorization

There is a column (``city``) which has categorical values with the two cities studied (San Juan e Iquitos). For the treatment of this features, it will be used One Hot Encoding. The reasons why it is used One Hot Encoding instead Label Encoding, can be explained:

* The measures are from different cities, so there is noy relation between the variables.
* This variables don't have an ordered meaning.

In [67]:
changes = {'city': {'sj': 0, 'iq': 1}}

In [68]:
train.replace(changes, inplace=True)
train.head()

   city  year  weekofyear  ...  station_precip_mm  total_cases  month
0     0  1990          18  ...               16.0            4      4
1     0  1990          19  ...                8.6            5      5
2     0  1990          20  ...               41.4            4      5
3     0  1990          21  ...                4.0            3      5
4     0  1990          22  ...                5.8            6      5

[5 rows x 25 columns]

In [69]:
test.replace(changes, inplace=True)
test.head()

   city  year  weekofyear  ...  station_min_temp_c  station_precip_mm  month
0     0  2008          18  ...                21.7               75.2      4
1     0  2008          19  ...                22.2               34.3      5
2     0  2008          20  ...                22.8                3.0      5
3     0  2008          21  ...                24.4                0.3      5
4     0  2008          22  ...                23.3               84.1      5

[5 rows x 24 columns]

## 1.4 Discretization

Also, we don't considerate neccesary to make a discretization with the values of our feautures. Instead of this, we are going to maintain the continuos values, as we think they take an important role being in its this continuos form.

## 1.5 Elimination of outliers

In the unsupervised learning project, some outliers were identified in the training data.

In [70]:
train = train.drop([749, 780], axis=0)

## 1.5 Null values treatment

Next, checking if there is any value that it is not registered or not inserted, we can observe that all the columns has almost one lost value. So, to improve the creation of our model, one recommended thing is to complete this empty values.

In [71]:
train.isnull().sum()

city                                       0
year                                       0
weekofyear                                 0
ndvi_ne                                  193
ndvi_nw                                   51
ndvi_se                                   22
ndvi_sw                                   22
precipitation_amt_mm                      13
reanalysis_air_temp_k                     10
reanalysis_avg_temp_k                     10
reanalysis_dew_point_temp_k               10
reanalysis_max_air_temp_k                 10
reanalysis_min_air_temp_k                 10
reanalysis_precip_amt_kg_per_m2           10
reanalysis_relative_humidity_percent      10
reanalysis_sat_precip_amt_mm              13
reanalysis_specific_humidity_g_per_kg     10
reanalysis_tdtr_k                         10
station_avg_temp_c                        43
station_diur_temp_rng_c                   43
station_max_temp_c                        20
station_min_temp_c                        14
station_precip_mm                         22
total_cases                                0
month                                      0
dtype: int64

In [72]:
test.isnull().sum()

city                                      0
year                                      0
weekofyear                                0
ndvi_ne                                  43
ndvi_nw                                  11
ndvi_se                                   1
ndvi_sw                                   1
precipitation_amt_mm                      2
reanalysis_air_temp_k                     2
reanalysis_avg_temp_k                     2
reanalysis_dew_point_temp_k               2
reanalysis_max_air_temp_k                 2
reanalysis_min_air_temp_k                 2
reanalysis_precip_amt_kg_per_m2           2
reanalysis_relative_humidity_percent      2
reanalysis_sat_precip_amt_mm              2
reanalysis_specific_humidity_g_per_kg     2
reanalysis_tdtr_k                         2
station_avg_temp_c                       12
station_diur_temp_rng_c                  12
station_max_temp_c                        3
station_min_temp_c                        9
station_precip_mm                         5
month                                     0
dtype: int64

In [73]:
train = train.drop(['ndvi_ne'], axis=1)
test = test.drop(['ndvi_ne'], axis=1)

Since we saw that the first entry has null values, we use interpolation to complete the null values in the data. This method complete the null data with a linear interpolation of the previous and next values.

In [74]:
train.interpolate(inplace=True)
pd.isnull(train).any()

city                                     False
year                                     False
weekofyear                               False
ndvi_nw                                  False
ndvi_se                                  False
ndvi_sw                                  False
precipitation_amt_mm                     False
reanalysis_air_temp_k                    False
reanalysis_avg_temp_k                    False
reanalysis_dew_point_temp_k              False
reanalysis_max_air_temp_k                False
reanalysis_min_air_temp_k                False
reanalysis_precip_amt_kg_per_m2          False
reanalysis_relative_humidity_percent     False
reanalysis_sat_precip_amt_mm             False
reanalysis_specific_humidity_g_per_kg    False
reanalysis_tdtr_k                        False
station_avg_temp_c                       False
station_diur_temp_rng_c                  False
station_max_temp_c                       False
station_min_temp_c                       False
station_precip_mm                        False
total_cases                              False
month                                    False
dtype: bool

In [75]:
test.interpolate(inplace=True)
pd.isnull(test).any()

city                                     False
year                                     False
weekofyear                               False
ndvi_nw                                  False
ndvi_se                                  False
ndvi_sw                                  False
precipitation_amt_mm                     False
reanalysis_air_temp_k                    False
reanalysis_avg_temp_k                    False
reanalysis_dew_point_temp_k              False
reanalysis_max_air_temp_k                False
reanalysis_min_air_temp_k                False
reanalysis_precip_amt_kg_per_m2          False
reanalysis_relative_humidity_percent     False
reanalysis_sat_precip_amt_mm             False
reanalysis_specific_humidity_g_per_kg    False
reanalysis_tdtr_k                        False
station_avg_temp_c                       False
station_diur_temp_rng_c                  False
station_max_temp_c                       False
station_min_temp_c                       False
station_precip_mm                        False
month                                    False
dtype: bool

## 1.7 Saving data

To finish the preprocessing, we are going to save the test and train dataset preprocessed.

In [76]:
with open('processed_train.csv', 'w') as f:
  train.to_csv(f,  index = False)

files.download('processed_train.csv')

train.head()

   city  year  weekofyear  ...  station_precip_mm  total_cases  month
0     0  1990          18  ...               16.0            4      4
1     0  1990          19  ...                8.6            5      5
2     0  1990          20  ...               41.4            4      5
3     0  1990          21  ...                4.0            3      5
4     0  1990          22  ...                5.8            6      5

[5 rows x 24 columns]

In [77]:
with open('processed_test.csv', 'w') as f:
  test.to_csv(f,  index = False)

files.download('processed_test.csv')

test.head()

   city  year  weekofyear  ...  station_min_temp_c  station_precip_mm  month
0     0  2008          18  ...                21.7               75.2      4
1     0  2008          19  ...                22.2               34.3      5
2     0  2008          20  ...                22.8                3.0      5
3     0  2008          21  ...                24.4                0.3      5
4     0  2008          22  ...                23.3               84.1      5

[5 rows x 23 columns]