<a href="https://colab.research.google.com/github/raulbs7/Machine-Learning-Techniques-Project/blob/master/Dengue_Supervised_Project/2_Baseline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2. Baseline

At this part, the goal will be to investigate what type of regression algorithm give us better results to, after that, make an optimization of his parameters.

## 2.1  Initialization

First of all, it is going to be imported all the Python libraries normally used in data science. Also, it will be imported the datasets.

In [ ]:
# data load and manipulation
from google.colab import files
from google.colab import drive
import io
# dataframes library
import pandas as pd
# visualization
import matplotlib.pyplot as plt
import seaborn as sns
# basic operations
import numpy as np
# cross validation
from sklearn.model_selection import KFold
# feature selection
from sklearn.feature_selection import SelectKBest, chi2, f_regression
# regression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression, LogisticRegression
# metrics 
from sklearn.metrics import mean_absolute_error

This function is used por obtain a dataframe from a csv file, in which we can determine the columns we want.

In [ ]:
def upload_files (index_fields):
  uploaded = files.upload()
  for fn in uploaded.keys():
    print('User uploaded file "{name}" with length {length} bytes'.format(
        name=fn, length=len(uploaded[fn])))
    df = pd.read_csv(io.StringIO(uploaded[fn].decode('utf-8')), index_col = index_fields)
    return df

Importing the preprocessed train and test dataset.

In [ ]:
train = upload_files([])
train.head()

Saving processed_train.csv to processed_train.csv
User uploaded file "processed_train.csv" with length 304080 bytes

   year  weekofyear   ndvi_ne  ...  total_cases  city_iq  city_sj
0  1990          18  0.122600  ...            4        0        1
1  1990          19  0.169900  ...            5        0        1
2  1990          20  0.032250  ...            4        0        1
3  1990          21  0.128633  ...            3        0        1
4  1990          22  0.196200  ...            6        0        1

[5 rows x 25 columns]

In [ ]:
test = upload_files([])
test.head()

Saving processed_test.csv to processed_test.csv
User uploaded file "processed_test.csv" with length 85026 bytes

   year  weekofyear  ndvi_ne  ...  station_precip_mm  city_iq  city_sj
0  2008          18  -0.0189  ...               75.2        0        1
1  2008          19  -0.0180  ...               34.3        0        1
2  2008          20  -0.0015  ...                3.0        0        1
3  2008          21      NaN  ...                0.3        0        1
4  2008          22   0.0568  ...               84.1        0        1

[5 rows x 24 columns]

## 2.2 Analysis of data

The train data is already preprocessed and there is not any null value.

In [ ]:
pd.isnull(train).any()

Unnamed: 0    False
0             False
1             False
2             False
3             False
4             False
5             False
6             False
7             False
8             False
9             False
10            False
11            False
12            False
13            False
14            False
15            False
16            False
17            False
18            False
19            False
20            False
21            False
22            False
23            False
24            False
dtype: bool

## 2.3 Random Forests

In [ ]:
selected_features = ['reanalysis_precip_amt_kg_per_m2', 'reanalysis_relative_humidity_percent', 
                'reanalysis_air_temp_k', 'station_avg_temp_c', 'reanalysis_tdtr_k']

In [ ]:
X_train = train[selected_features]
X_test = test[selected_features]
y_train = train['total_cases']

In [ ]:
cv = KFold(n_splits = 10, shuffle = False)

In [ ]:
fold_mae = []

for train_fold, test_fold in cv.split(train):
  # Random division of the train set to do cross validation
  f_train_X = train.iloc[train_fold]
  f_test_X = train.iloc[test_fold]
  f_train_y = train['total_cases'].iloc[train_fold]
  f_test_y = train['total_cases'].iloc[test_fold]
  # FIT THE MODEL
  f_model = RandomForestRegressor().fit(f_train_X.drop(['total_cases'], axis = 1), f_train_y)
  # PREDICT AND SCORE
  y_pred = f_model.predict(X = f_test_X.drop(['total_cases'], axis = 1))
  mae = mean_absolute_error(f_test_y, y_pred)
  fold_mae.append(mae)
forest_mae = sum(fold_mae)/len(fold_mae)

print('Estimated accuracy of Random Forest implementation: ', forest_mae)

Estimated accuracy of Random Forest implementation:  21.083871941426548

In [ ]:
fold_mae = []

for train_fold, test_fold in cv.split(X_train):
  # Random division of the train set to do cross validation
  f_train_X = X_train.iloc[train_fold]
  f_test_X = X_train.iloc[test_fold]
  f_train_y = y_train.iloc[train_fold]
  f_test_y = y_train.iloc[test_fold]
  # FIT THE MODEL
  f_model = RandomForestRegressor().fit(f_train_X, f_train_y)
  # PREDICT AND SCORE
  y_pred = f_model.predict(X = f_test_X)
  mae = mean_absolute_error(f_test_y, y_pred)
  fold_mae.append(mae)
forest_mae = sum(fold_mae)/len(fold_mae)

print('Estimated accuracy of Random Forest implementation: ', forest_mae)

Estimated accuracy of Random Forest implementation:  23.210998896574218