# Milestone 1: Dengue Investigation
This research have been done by Elena María Ruiz and Raúl Bernalte for the subject Machine Learning Techniques at UCLM.

The purpose of this research is to determine and predict Dengue spread phenomenon. To reach this objective, we are going to have a data source from the web page of Driven Data.

In [ ]:
# data load and manipulation
from google.colab import files
import io
# dataframes library
import pandas as pd
# visualization 
import matplotlib.pyplot as plt
import seaborn as sns
# basic operations
import numpy as np
import itertools

In [ ]:
def upload_files (index_fields):
  uploaded = files.upload()
  for fn in uploaded.keys():
    print('User uploaded file "{name}" with length {length} bytes'.format(
        name=fn, length=len(uploaded[fn])))
    df = pd.read_csv(io.StringIO(uploaded[fn].decode('utf-8')), index_col = index_fields)
    return df

In [ ]:
train = upload_files([])
train.head()

Saving dengue_features_train.csv to dengue_features_train (7).csv
User uploaded file "dengue_features_train.csv" with length 287139 bytes

  city  year  ...  station_min_temp_c station_precip_mm
0   sj  1990  ...                20.0              16.0
1   sj  1990  ...                22.2               8.6
2   sj  1990  ...                22.8              41.4
3   sj  1990  ...                23.3               4.0
4   sj  1990  ...                23.9               5.8

[5 rows x 24 columns]

In [ ]:

filter_data=train[(train['year'] >= 2004) & (train['year'] <= 2010) & (train['city']=='sj')]
filter_data.head()

    city  year  ...  station_min_temp_c station_precip_mm
711   sj  2004  ...                 NaN               NaN
712   sj  2004  ...                20.6              15.6
713   sj  2004  ...                20.0              23.7
714   sj  2004  ...                20.6              10.2
715   sj  2004  ...                20.0               1.8

[5 rows x 24 columns]